/* beat the lib's dumb built in styles */
.react-flow__node {
  border: none !important;
}
.react-flow__edge-path {
  stroke: deepskyblue !important;
  stroke-width: 2px !important;
}
.react-flow__handle {
  width: var(--m) !important;
  height: var(--m) !important;
  border-radius: var(--s) !important;
  border: 2px solid deepskyblue !important;
  background-color: white !important;
}

.graphViewBuilder {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.graphViewBuilder__btnContainer {
  display: flex;
  justify-content: space-between;
}

.graphViewBuilder__flowContainer {
  flex-grow: 1;
}

.graphViewBuilder__btn {
  display: block;
  margin-bottom: var(--s);
}

.builderNode {
  display: flex;
  text-align: left;
  max-width: 360px;
  padding: var(--m);
  background-color: skyblue;
  border-radius: var(--s);
  border: 2px solid deepskyblue;
}

.builderNode__stepNum {
  padding-right: var(--s);
  display: inline-flex;
  align-items: center;
  border-right: 1px dashed;
}

.builderNode__inputs {
  padding: 0 var(--s);
  margin-left: var(--m);
}

.builderNode__action {
  padding-left: var(--s);
  display: inline-flex;
  align-items: center;
  border-left: 1px dashed;
}
