---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Graph Chef - Page Not Found">
  <div>
    <h1>404</h1>
    <h2>There is nothing at this address</h2>
    <h2><a href="/">Return to search page</a></h2>
  </div>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
</style>
