.search__fields {
  padding-bottom: var(--l);
  border-bottom: 1px solid deepskyblue;
  margin-bottom: var(--l);
}

.search__list {
  list-style: none;
  padding-left: var(--m);
}

.search__fieldLabel {
  display: block;
  margin-bottom: var(--s);
}
.search__fieldLabel > * {
  display: block;
}
.search__fieldLabel:last-of-type {
  margin: unset;
}
